@font-face {
  font-family: Minecraft; /* Имя шрифта */
  src: url("../fonts/minecraft.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Pixel; /* Имя шрифта */
  src: url("../fonts/pixel.ttf"); /* Путь к файлу со шрифтом */
}

::-webkit-scrollbar {
  width: 10px;
  transition: ease 0.4s;
}

::-webkit-scrollbar-track {
  background: rgb(19, 226, 0);
  border: solid white 2px;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border: solid rgb(92, 92, 92) 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(122, 122, 122);
}

::-webkit-scrollbar-thumb:active {
  background: rgb(48, 48, 48);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

header {
  background-image: url("../img/headerback.png");
  background-position: center;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 700px;
}

.menu {
  display: flex;
  background-color: rgb(110, 110, 110);
  box-sizing: border-box;
  border: 5px black solid;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.mobnav {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  font-family: Minecraft;
}

.logo img {
  height: 50px;
  margin: 10px;
}

.title img {
  height: 350px;
}

.subtitle {
  font-family: pixel;
  color: rgba(19, 226, 0, 0.664);
}

.nav {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
  margin: 10px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

ul {
  display: flex;
}

.navlink {
  transition: ease 0.5s;
  color: black;
  font-family: Pixel;
  text-decoration: none;
}

.navlink:hover {
  color: rgb(19, 226, 0);
}

.languagelink {
  transition: ease 0.5s;
  color: black;
  font-family: Pixel;
  text-decoration: none;
}

.languagelink:hover {
  color: blue;
}

.social {
  display: flex;
}

.grass {
  width: 100%;
  height: 70px;
  background-image: url("../img/grass.png");
  background-size: 70px;
}

.body {
  width: 100%;
  overflow: hidden;
  background-image: url("../img/dirt.jpg");
  background-size: 70px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentimg {
  margin: 20px;
}

.contenttitle {
  font-family: Minecraft;
  color: white;
  margin: 20px;
  font-size: 30px;
}

.contentimg img {
  border: solid 5px white;
  max-width: 700px;
}

.contenttext {
  color: white;
  background-size: 70px;
  padding: 10px;
  margin: 20px;
  font-family: Pixel;
  max-width: 800px;
}

.obsidian {
  width: 100%;
  height: 70px;
  background-image: url("../img/Obsidian.png");
  background-size: 70px;
}

.desk {
  width: 100%;
  height: 70px;
  background-image: url("../img/desk.png");
  background-size: 70px;
}

.fact {
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fact1 {
  background-image: url(../img/fact1.png);
}

.fact2 {
  background-image: url(../img/fact2.png);
}

.fact3 {
  background-image: url(../img/fact3.png);
}

.fact4 {
  background-image: url(../img/fact4.png);
}

.facttext {
  color: rgb(19, 226, 0);
  font-family: Pixel;
  max-width: 800px;
  padding: 20px;
  border: black 5px solid;
  background-color: rgba(134, 134, 134, 0.5);
  margin: 20px;
}

.contentsubtitle {
  font-family: Minecraft;
  color: white;
  margin: 20px;
  margin-top: 40px;
  font-size: 25px;
}

.contentbtn {
  font-family: Minecraft;
  color: black;
  background-color: rgb(110, 110, 110);
  padding: 10px;
  border: solid 5px black;
  text-decoration: none;
  display: block;
  margin: 10px;
  border: solid 5px black;
  transition: ease 0.5s;
}

.contentbtn:hover {
  color: white;
  background-color: rgb(19, 226, 0);
  border: solid 5px white;
}

footer {
  background-image: url("../img/pesok.jpg");
  background-size: 70px;
  display: flex;
  justify-content: space-around;
}

.footerblock {
  color: rgb(0, 0, 0);
  width: 500px;
  font-family: Pixel;
  padding: 50px;
}

.footerlinks a {
  transition: ease 0.5s;
  text-decoration: none;
  color: rgba(0, 0, 255, 0.507);
}

.footerlinks a:hover {
  color: blue;
  text-shadow: 3px 5px 5px black;
}

.copyright {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.slider {
  position: relative;
  padding: 0px 50px;
  margin: 50px 10px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0 0 0px;
  font-size: 0;
  width: 30px;
  height: 60px;
  outline: none;
  border: none;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url(../img/back.svg) 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url(../img/next.svg) 0 0 / 100% no-repeat;
}

.slider__item img {
  width: 80%;
  border: 5px solid rgb(19, 226, 0);
  border-radius: 2%;
  outline: none;
}

iframe {
  border: 5px solid rgb(19, 226, 0);
}

.download {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.downloadlink {
  background-color: rgba(134, 134, 134, 0.5);
  border: 5px solid black;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.downloadtitle {
  color: black;
  text-align: center;
}

.slidertitle {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Style the tab */
.tab {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  background-color: #ffffff;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  font-family: Pixel;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border: 2px solid rgb(255, 255, 255);
  border-top: none;
  background-color: rgba(19, 226, 0, 0.664);
}

.forflex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenttab {
  width: 80%;
  margin: 60px;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contentlinks {
  padding: 10px;
  margin: 20px;
  font-family: Pixel;
  max-width: 800px;
  color: #ffffff;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

iframe{
  height: 280px;
  width: 500px;
  margin: auto;
}

.copyright {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px rgb(19, 226, 0),
      0 0 4px #1700e6, 0 0 5px rgb(19, 226, 0), 0 0 6px #1700e6, 0 0 7px rgb(19, 226, 0);
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 3px rgb(19, 226, 0), 0 0 4px #1700e6,
      0 0 5px rgb(19, 226, 0), 0 0 6px #1700e6, 0 0 7px rgb(19, 226, 0), 0 0 8px #1700e6;
  }
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media screen and (max-device-width: 760px) {
  .mobnav {
    display: inline;
  }

  .desknav {
    display: none;
  }

  .title img {
    max-width: 250px;
    max-height: 150px;
    margin: 10px;
  }

  .logo_text {
    display: none;
  }

  .facttext {
    font-size: smaller;
  }

  .logoimg {
    width: 40px;
  }

  .slick-slide img {
    width: 100px;
  }

  .slick-arrow {
    height: 40px;
    width: 20px;
  }

  iframe{
    height: 140px;
    width: 250px;
    margin: auto;
  }
}
