@font-face {
  font-family: Minecraft; /* Имя шрифта */
  src: url("../fonts/minecraft.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Pixel; /* Имя шрифта */
  src: url("../fonts/pixel.ttf"); /* Путь к файлу со шрифтом */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(19, 226, 0);
  border: solid white 2px;
}

::-webkit-scrollbar-thumb {
  background: rgb(110, 110, 110);
  border: solid black 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(122, 122, 122);
}

::-webkit-scrollbar-thumb:active {
  background: rgb(48, 48, 48);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

header {
  background-image: url("../img/headerback.png");
  background-position: center;
  background-attachment: fixed;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  background-color: rgb(110, 110, 110);
  border: solid 5px black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.logo {
  display: flex;
  align-items: center;
  font-family: Minecraft;
}

.logo img {
  height: 50px;
  margin: 10px;
}

.title img {
  height: 350px;
}

.subtitle {
  font-family: pixel;
  color: green;
}

.nav {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
  margin: 10px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

ul {
  display: flex;
}

.navlink {
  transition: ease 0.5s;
  color: black;
  font-family: Pixel;
  text-decoration: none;
}

.navlink:hover {
  color: rgb(19, 226, 0);
}

.languagelink {
  transition: ease 0.5s;
  color: black;
  font-family: Pixel;
  text-decoration: none;
}

.languagelink:hover {
  color: blue;
}

.social {
  display: flex;
}

.grass {
  width: 100%;
  height: 70px;
  background-image: url("../img/grass.png");
  background-size: 70px;
}

.body {
  width: 100%;
  overflow: hidden;
  background-image: url("../img/dirt.jpg");
  background-size: 70px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentimg {
  margin: 20px;
}

.contenttitle {
  font-family: Minecraft;
  color: white;
  margin: 20px;
  font-size: 30px;
}

.contentimg img {
  border: solid 5px white;
  max-width: 700px;
}

.contenttext {
  color: white;
  background-size: 70px;
  padding: 10px;
  margin: 20px;
  font-family: Pixel;
  max-width: 800px;
}

.obsidian {
  width: 100%;
  height: 70px;
  background-image: url("../img/Obsidian.png");
  background-size: 70px;
}

.desk {
  width: 100%;
  height: 70px;
  background-image: url("../img/desk.png");
  background-size: 70px;
}

.fact {
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fact1 {
  background-image: url(../img/fact1.png);
}

.fact2 {
  background-image: url(../img/fact2.png);
}

.fact3 {
  background-image: url(../img/fact3.png);
}

.fact4 {
  background-image: url(../img/fact4.png);
}

.facttext {
  color: green;
  font-family: Pixel;
  max-width: 800px;
}

.contentsubtitle {
  font-family: Minecraft;
  color: white;
  margin: 20px;
  margin-top: 40px;
  font-size: 25px;
}

.contentbtn {
  font-family: Minecraft;
  color: black;
  background-color: rgb(168, 168, 168);
  padding: 10px;
  border: solid 5px black;
  text-decoration: none;
  display: block;
  margin: 10px;
  border: solid 5px black;
  transition: ease 0.5s;
}

.contentbtn:hover {
  color: white;
  background-color: rgb(19, 226, 0);
  border: solid 5px white;
}

footer {
  background-image: url("../img/pesok.jpg");
  background-size: 70px;
  display: flex;
  justify-content: space-around;
}

.footerblock {
  color: rgba(0, 0, 0, 0.507);
  width: 500px;
  font-family: Pixel;
  padding: 50px;
}

.footerlinks a {
  transition: ease 0.5s;
  text-decoration: none;
  color: rgba(0, 0, 255, 0.507);
}

.footerlinks a:hover {
  color: blue;
  text-shadow: 5px 5px 5px black;
}

.copyright {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.facttext {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.548);
  border: black solid 3px;
}

.slider {
  width: 100%;
  display: flex;
  justify-content: center;

}

.slider div img {
  max-width: 1000px;
  max-height: 700px;
}


.slider button {
  padding: 5px;
  background-color: rgba(19, 226, 0, 0.527);
  border: none;
}

.slick-dots{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}